include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../body/body
include ../scripts/scripts
include ../footer/footer

- set_bemto_settings({ modifier: '--' })

doctype html
html(lang='ru')
	include ../head/head
	+body
		+footer

		+scripts(['app.min.js'])
