// *****************************************************************************
// Fonts
// *****************************************************************************


// *****************************************************************************
// Colors
// *****************************************************************************


// *****************************************************************************
// Media
// *****************************************************************************

$mobile: 768px;
$mobile-down: mobile - 1;
$tablet: 991px;
$tablet-down: tablet - 1;
$tablet-up: 992px;
$hd: 1920px;
$hd-down: hd - 1;
